extends layout

block content
  div(class='containerWin')
    div(id='mainbox')
      p(class='winHeader') Nice job!

      div(class='moneytimeBox')
        div(class='timeBoxWin') 
          span(id='time') #{time}
          div(class='timeLabel') time elapsed
        

        div(id='moneyBoxWin') $#{money}

      p(class='leadCopy') Your generous reward's been sent to your new account, #{name}.

      p > boast on twitter
      p > learn more about the Dwolla API

      a(href='/')
        div(class='button') again?

    