extends layout

block content
  div(class='container')
    div(id='moneyBox') $5000.00

    div(id='mainbox')
      p(class='leadHeader') Think you're fast?
      p(class='leadCopy') User onboarding is important.  We get it.  Introducing Dwolla Direct.  See how quickly you can get through our new account creation flow.  The faster you finish, the more money you’ll get.
        span(class='asterisk') *

      a(href='#', data-url=oauthURL, id='oAuthBeginLink')
        div(class='button') BEGIN

      p(class='fineprint') 
        span(class='asterisk') *
        | in our sandbox environment :)
    div(class='timeBox') 
      span(id='time') 00:00.000
      div(class='timeLabel') time elapsed

  script(src="/javascripts/index.js")